/* For a skip to content link for screen readers. Thanks to [WebAIM](https://webaim.org/techniques/skipnav/) for the help. */
/* Use # because the link to skip to the content is in a div id */

#accessibility, #accessibility a
{
  position:absolute; /* tells the browser to remove the element from the page flow and to begin positioning it */
  left:-10000px; /*moves the content 10000 pixels to the left */
  top:auto; /*tells the browser to position the content vertically at the same location it was originally. Omitting top may result in the left style being ignored in some instances and browsers. */
  width:1px;
  height:1px;
  overflow:hidden;
  /* tells the browser to make the element 1px by 1px in size and to visually hide everything that does not fit into these dimensions. While this is a likely a little overkill and can probably be omitted in most circumstances, there are a few instances where positioning may be disabled, but all other styles remain enabled. In this case, the element will remain in its original position, but will only take 1 pixel of space. */
}

#accessibility a:focus
/* The style for the a:focus pseudo-class will only be active when the user tabs to the link (i.e., it has focus), and the link will revert back to its default style (i.e., it will be hidden off-screen again) when the user tabs away from the link. */
{
    position:static;
    width:auto;
    height:auto; 
}