body
{
  padding:0% 0%; /* padding for site, right/left then bottom/top */
}

.container /* for the entire site in the grid */
{
  display: grid;
  grid-template-columns: auto auto; /* on a snall device resize the columns to show all the text nicely */
  background-color: #7EC0EE; /* background colour */

  /* Font */
  font-family: -apple-system, BlinkMacSystemFont,
  Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* apple-system and BlinkMacSystemFont target default fonts in Safari and Chrome on macOS and iOS. As fallback, Helvetica Neue and Arial are included. Fun fact, regular Helvetica is actually aliased to Arial in the Windows registry, so you’ll never get regular Helvetica there anyway. And lastly, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol ensure that we render the best emoji possible on macOS and Windows. */
  font-weight: normal;
  font-style: normal;
  color: #262626; /* text colour */
}

.item /* for each "thing" inside the container / grid */
{
  border: 1px solid #fff;
  font-size: 16px;
  text-align: center;
}

img
{
  display: block; 
  margin: 0 auto;
}

/* unvisited link */
a
{
 color: #0000EE; /* in HTML5 this is the recommended default colour for unvisited, you can use any colour and reasonably expect them to work. See https://www.w3.org/TR/html5/rendering.html#non-replaced-elements-phrasing-content */
}

/* visited link */
a:visited
{
  color: #551A8B;
  text-decoration: underline; 
  cursor: pointer;
}

a:active, :visted:active
{
  color: #FF0000;
}

:focus
{
  outline: auto;
}

u 
{ 
  text-decoration: underline;
}

del, s, strike 
{ 
  text-decoration: line-through; 
}